<form action="/books/:id">
  <input type="text" name="title" placeholder="<%= %>">
  <input type="text" name="authors" placeholder="<%= %>">
  <input type="text" name="isbn" placeholder="<%= %>">
  <input type="text" name="image_url" placeholder="<%= %>">
  <input type="text" name="Description" placeholder="<%= %>">
  <select name="bookshelf" id="bookshelf">
    <option value=""></option>
  </select>
  <button type="submit"></button>
</form>