
      <% books.forEach(book => { %>
        <li class="li">
          <p>Title: <%= book.title %> </p>
          <p>Author: <%= book.authors %> </p>
          <img src="<%= book.image_url %>">
          <p>Summary: <%= book.description %> </p>
          <form action="/books:<%=book.id%>" method="POST">
            <button id="searchShowButton" type="submit" name="id" value="<%= book.id %>">View details</button>
          </form>
        </li>
      <% }); %>