<!DOCTYPE html>
<html lang="en">
  <head>
    <title>book_app</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
  </head>

  <body>
    <header>
      <h1>Search Results</h1>
    </header>

    <main>
      <ul>
        <% books.forEach(book => { %>
          <li>
            <p>Title: <%= book.title %> </p>
            <p> <%= book.subtitle %> </p>
            <p>Author: <%= book.authors %> </p>
            <img src="<%= book.image %>">
            <p>Language: <%= book.lang %> </p>
            <p>Summary: <%= book.description %> </p>
            <p>Genre: <%= book.categories %> </p>
          </li>
        <% }) %>
      </ul>
    </main>

  </body>
</html>